.navbar {
  
  background-color: lightblue;
  width: 100%;
  height: clamp(40px,5vh,250px);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.nav {
    display: flex;
    width: 80vw;
 
    justify-content: flex-end;
}   

.nav_items{
    margin: clamp(5px,1vh,50px) clamp(10px,2vh,100px);
    
}
.nav_link{
    font-size: clamp(20px,2vh,200px);
}
.nav_link:hover{
    color:red;
}
.nav_link.active {
color:white !important;;

}
.nav_link.pending{
 font-size: 3vw;
}