.HomeContainer{
    height: 100%;
    width: 100%;
}

.CalenderContainer{
    height: -webkit-fill-available;
}
.showContainer{
   height: 100vh;
    overflow: auto;
}
.noscrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.noscrollbar {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;     /* For Firefox */
}
